<div class="bg-white rounded-xl border border-gray-400/40 p-8 shadow-xl">
      <h3 class="font-semibold mb-4 pt-4">Job Details</h3>

      <div class="space-y-3 text-sm">
        <div>
          <p class="text-gray-400 pt-1">Company</p>
          <p class="font-medium">{{ job().company }}</p>
        </div>
        <hr class="my-4 border-gray-400/40">

        <div>
          <p class="text-gray-400 pt-1">Location</p>
          <p class="font-medium">{{ job().location }}</p>
        </div>
        <hr class="my-4 border-gray-400/40">

        <div>
          <p class="text-gray-400 pt-1">Employment Type</p>
          <p class="font-medium">{{ job().employmentType }}</p>
        </div>
        <hr class="my-4 border-gray-400/40">

        <div>
          <p class="text-gray-400 pt-1">Salary Range</p>
          <p class="font-medium">{{ job().salaryRange }}</p>
        </div>
        <hr class="my-4 border-gray-400/40">

        <div>
          <p class="text-gray-400 pt-1">Posted Date</p>
          <p class="font-medium">{{ job().createdAt | formatDate }}</p>
        </div>
      </div>
    </div>