<body class="bg-gray-50">
<div class="max-w-7xl mx-auto px-6 py-8">
  
  <a href="#" class="inline-flex items-center text-m text-gray-600 hover:text-gray-900 hover:font-bold mb-6">
    ← Back to Jobs
  </a>
@if(job.isLoading()) {
  <p>Loading job…</p>
}

@if(job.error()) {
  <p class="text-red-500">Failed to load job</p>
}

@if(job.value()) {

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    
    <div class="lg:col-span-2 bg-white rounded-xl border border-gray-400/40 p-8 shadow-xl">
      
      <div class="flex items-start gap-4">
        <div class="w-12 h-12 bg-gray-200 rounded-lg flex items-center justify-center overflow-hidden">

          @if (job.value()!.company_logo && !logoError()) {
            <img
              [src]="job.value()!.company_logo"
              [alt]="job.value()!.company_name"
              class="w-full h-full object-contain"
              (error)="logoErrorf()"
            />
          } @else {
            <span class="font-bold text-gray-600">
              {{ job.value()!.company_name!.slice(0, 2).toUpperCase() }}
            </span>
          }
        </div>


        <div>
          <h1 class="text-2xl font-bold">{{job.value()!.title}}</h1>
          <p class="text-gray-600">{{job.value()!.company_name}}</p>

          <div class="flex flex-wrap items-center gap-4 text-sm text-gray-500 mt-2">
            <span class="px-3 py-1 bg-blue-100 text-blue-600 rounded-full">
              Engineering
            </span>
            <span>📍 {{job.value()!.candidate_required_location}}</span>
            <span>💼 {{job.value()!.job_type}}</span>
            <span>💰 {{job.value()!.salary}}</span>
          </div>

          <p class="text-sm text-gray-400 mt-2">
            Posted {{ formatDate(job.value()!.publication_date) }}
          </p>
        </div>
      </div>

      <hr class="my-8 border-gray-400/40">

      
<section>
  <h2 class="text-lg font-semibold mb-2">About the Role</h2>

  @if(job.value()) {
    <div
  [class]="'description-wrapper ' + (readMore() ? 'description-expanded' : 'description-collapsed')"
  [innerHTML]="job.value()!.description">
</div>

    @if(job.value()!.description!.length > 100) {
      <button
        class="text-blue-600 mt-2 font-semibold"
        (click)="toggleReadMore()">
        @if(readMore()) { Read less } @else { Read more }
      </button>
    }
  }
</section>

    @if (job.value()!.tags?.length) {
            <section class="mt-8">
              <h2 class="text-lg font-semibold mb-3">Key skills</h2>
              <ul class="flex flex-wrap gap-2">
                @for (tag of job.value()!.tags; track tag) {
                  <li class="px-3 py-1 bg-gray-100 rounded-full text-sm text-gray-600">
                    {{ tag }}
                  </li>
                }
              </ul>
            </section>
          }
    </div>

    
    <div class="space-y-6">
      
      <div class="bg-white rounded-xl border border-gray-400/40 p-8 shadow-xl ">
        <button
          class="w-full bg-blue-900 hover:bg-blue-800 text-white py-3 rounded-lg font-medium mb-2 cursor-pointer">
          Apply Now ↗
        </button>

        <button
          class="w-full border py-3 rounded-lg font-medium hover:bg-gray-50 border-gray-400/40  cursor-pointer">
          Bookmark
        </button>
      </div>

      
      <div class="bg-white rounded-xl border border-gray-400/40 p-8 shadow-xl">
        <h3 class="font-semibold mb-4 pt-4">job Details</h3>

        <div class="space-y-3 text-sm">
          <div>
            <p class="text-gray-400 pt-1">Company</p>
            <p class="font-medium">{{job.value()!.company_name}}</p>
          </div>
          <hr class="my-4 border-gray-400/40">


          <div>
            <p class="text-gray-400 pt-1">Location</p>
            <p class="font-medium">{{job.value()!.candidate_required_location}}San Francisco, CA</p>
          </div>
          <hr class="my-4 border-gray-400/40">

          <div>
            <p class="text-gray-400 pt-1">Employment Type</p>
            <p class="font-medium">{{job.value()!.job_type}}</p>
          </div>
          <hr class="my-4 border-gray-400/40">
          <div>
            <p class="text-gray-400 pt-1">Salary Range</p>
            <p class="font-medium">{{job.value()!.salary}}</p>
          </div>
          <hr class="my-4 border-gray-400/40">
          <div>
            <p class="text-gray-400 pt-1">Posted Date</p>
            <p class="font-medium">{{ formatDate((job.value()!).publication_date) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
}

    <div class="mt-12">
      <h2 class="text-2xl font-bold mb-6">Similar Jobs</h2>

      @if(similarJobs.value()?.length) {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          @for(job of similarJobs.value(); track job.id) {
            <div
              class="bg-white rounded-xl border border-gray-400/40 p-6 shadow-xl hover:shadow-2xl transition-shadow cursor-pointer">
              <div class="flex items-start gap-3 mb-4">
      <div class="w-10 h-10 bg-gray-200 rounded-lg flex items-center justify-center flex-shrink-0">
        @if (job.company_logo) {
          <img
            [src]="job.company_logo"
            [alt]="job.company_name"
            class="w-full h-full object-contain"
          />
        } @else {
          <span class="font-bold text-gray-600">
            {{ job.company_name!.slice(0, 2).toUpperCase() }}
          </span>
        }
      </div>

      <div class="job-info description-collapsed">
        <h3 class="job-title">{{ job.title }}</h3>
        <p class="text-gray-600 text-sm">{{ job.company_name }}</p>
      </div>
    </div>


          <div class="space-y-2 text-sm text-gray-600 mb-4 ">
            <p>📍 {{ job.candidate_required_location }}</p>
            <p>💰 {{ job.salary }}</p>
            <span class="inline-block px-3 py-1 bg-gray-100 text-gray-600 rounded-full text-xs">
              {{ job.tags?.[0] || 'Other' }}
            </span>
          </div>

          <div class="text-sm text-gray-500 line-clamp-2" [innerHTML]="job.description"></div>
          
        </div>
      }
    </div>
  }
  @else {
    <p class="text-gray-400">No similar jobs found.</p>
  }
</div>
<div class="text-center mt-8">
        <button class="px-6 py-3 border border-gray-400/40 rounded-lg font-medium hover:bg-gray-50 transition-colors">
          View All Similar Jobs →
        </button>
      </div>
  </div>  
</body>