:host-context(.dark) h2 {
  color: #f1f5f9;
}

:host-context(.dark) .description-wrapper {
  color: #cbd5e1;
}

:host-context(.dark) .text-blue-600 {
  color: #60a5fa;
}

:host-context(.dark) .text-blue-600:hover {
  color: #3b82f6;
}

:host-context(.dark) .description-collapsed::after {
  background: #1e293b;
}


:host-context(.dark) section {
  color: #cbd5e1;
}

:host-context(.dark) .description-wrapper * {
  color: inherit;
}